{% extends "control/base.html" %}

{% block content %}

<h2>Estado del día</h2>

<p>Total registros: {{ reporte_dia|length }}</p>

<table class="table table-striped table-bordered table-sm">

<thead class="table-dark">
<tr>
<th>#</th>
<th>No. empleado</th>
<th>Empleado</th>
<th>Entrada</th>
<th>Salida</th>
<th>Extra inicio</th>
<th>Extra fin</th>
<th>Estado</th>
</tr>
</thead>

<tbody>

{% for r in reporte_dia %}

<tr>

<td>{{ forloop.counter }}</td>

<td>{{ r.empleado.numero_empleado }}</td>

<td>{{ r.empleado.nombre }}</td>

<td>{{ r.entrada|time:"H:i"|default_if_none:"—" }}</td>

<td>{{ r.salida|time:"H:i"|default_if_none:"—" }}</td>

<td>{{ r.extra_inicio|time:"H:i"|default_if_none:"—" }}</td>

<td>{{ r.extra_fin|time:"H:i"|default_if_none:"—" }}</td>

<td>

{% if r.estado == "RETARDO" %}
<span class="badge bg-danger">{{ r.estado }}</span>

{% elif r.estado == "INCIDENCIA" %}
<span class="badge bg-warning text-dark">{{ r.estado }}</span>

{% elif r.estado == "FALTA" %}
<span class="badge bg-dark">{{ r.estado }}</span>

{% elif r.estado == "DESCANSO" %}
<span class="badge bg-secondary">{{ r.estado }}</span>

{% else %}
<span class="badge bg-success">{{ r.estado }}</span>

{% endif %}

</td>


</tr>

{% endfor %}

</tbody>

</table>

{% endblock %}
